$bg-color: #f5f5f5;

$text-fontSize-big: 40rpx;
$text-fontSize-large: 32rpx;
$text-fontSize-medium: 28rpx;
$text-fontSize-small: 24rpx;

$text-primary: #1890ff;
$text-success: #52c41a;
$text-warning: #fa8c16;
$text-danger: #ff4d4f;
$text-color-999: #999;
$text-color-666: #666;
$text-color-333: #333;

$p15: 15rpx;
$border-radius: 10rpx;

// font-weight: bold;

// 红色：background: linear-gradient(135deg, #ff4d4f 0%, #ff7875 100%);
$btn-red: linear-gradient(135deg, #ff4d4f 0%, #ff7875 100%);
// 绿色：background: linear-gradient(135deg, #52c41a 0%, #73d13d 100%);
$btn-green: linear-gradient(135deg, #52c41a 0%, #73d13d 100%);
// 蓝色：background: linear-gradient(135deg, #1890ff 0%, #40a9ff 100%);
$btn-blue: linear-gradient(135deg, #1890ff 0%, #40a9ff 100%);
